/* body {
    padding-top: 70px;
    padding-bottom: 30px;
  }
  
  .theme-dropdown .dropdown-menu {
    display: block;
    position: static;
    margin-bottom: 20px;
  }
  
  .theme-showcase > p > .btn {
    margin: 5px 0;
  }
  .loginPanel{
    width: 320px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}
.DenemeBuyuk {
  font-size: large;
  background-color: #7B7BFA;
  margin:1
}
.BackGround {
  font-size: large;
  background-color: #E1E6A8; 
}
.userTable{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
} */


.navbar-menu a
{
  color: #fff;
}

