<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Enlargify</title>

   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="/public/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    
    <link href="/public/resources/css/app.css" rel="stylesheet">
	<link href="/public/resources/css/ChatStyle.css" rel="stylesheet">
   
  </head>
  <body>
  
   <div class="container">
		<div class="row">
			<div class="col-md-8" style="border:1px solid;"/>video chat</div>
			<div class="col-md-4" style="border:1px solid;"/>yazı chat</div>
		</div>
   </div>
    
	
	
	
	
	
	
	
	
	
    <script src="/public/libs/jquery/jquery-3.2.1.min.js"></script>
    <script src="/public/libs/bootstrap/js/bootstrap.min.js"></script>
  
    <script src="/socket.io/socket.io.js"></script>
    <script src="/easyrtc/easyrtc.js"></script>
    <script src="/public/resources/js/app.js"></script>

  </body>
</html>