<!DOCTYPE html>
<html lang="tr">

<head>
  <!--
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!- - <link rel="shortcut icon" href="../../assets/ico/favicon.png"> - ->
-->
  <title>WebRTC</title>

  <!--<link rel="stylesheet" href="/public/resources/css/theme.css"> -->
  <link rel="stylesheet" href="/public/libs/bootstrap/css/bootstrap.min.css">

  <link rel="stylesheet" href="/public/libs/bootstrap/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/public/resources/css/style.css">

  

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <%- body %>
    <!--
    <!- - Fixed navbar - ->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">ChatApp</a>
        </div>
        <div class="pull-right">
            <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">AnaSayfa</a></li>
                <li><a href="/login">Giriş</a></li>
                <li><a href="/login/signup">Kayıt Ol</a></li>
                <li><a href="/chat">Chat</a></li>
                
                
                </li>
            </ul>
            </div>
        </div><!- -/.nav-collapse - ->
      </div>
    </div>
-->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- <script src="../../assets/js/jquery.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script> -->


    <script type="text/javascript" src="/public/libs/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/public/libs/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/public/resources/js/fontawesome.js"></script>


</body>

</html>