<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<html>
<head>
<title>Register Login with Authentication</title>
<!--Custom Theme files-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Register Login Widget template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login Signup Responsive web template, SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="/public/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Jura:400,300,500,600' rel='stylesheet' type='text/css'>
<!--//web-fonts-->
</head>
<body>
	<h1>Test Authentication 🚀 </h1>
	<!-- main -->
	<div class="main">
		<!--login-profile-->
		
		<!--login-profile-->
		<!--signin-form-->
		<div class="w3">
			<div class="signin-form profile">
				<h3>Login</h3>
				
				<div class="login-form">
					<form action="/" method="post">
						<input id="email" type="text" name="logemail" placeholder="E-mail" required="">
						<input id="password"  type="password" name="logpassword" placeholder="Password" required="">
						<div class="tp">
							<input type="submit" value="LOGIN NOW">
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="agile">
			<div class="signin-form profile">
				<h3>Register</h3>
				
				<div class="login-form">
					<form action="/" method="post">
						<input id="email" type="text" name="email" placeholder="E-mail" required="">
						<input id="username" type="text" class="form-control" name="username" placeholder="kullanıcı adı" required>
						<input id="password" type="text" class="form-control" name="password" placeholder="parola" required>
						<input id="passwordConf" type="password" name="passwordConf" placeholder="Confirm Password" required="">
						<input type="submit" value="REGISTER">
					</form>
				</div>
				<p><a href="#"> By clicking register, I agree to your terms</a></p>
			</div>
		</div>
		<div class="clear"></div>
		<!--//signin-form-->	
	</div>
	<div class="copyright">
		<p> &copy; 2016 Register Login Widget . All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank" >W3layouts</a></p>
	</div>					
</body>
</html>


<!--
<div class = "container">
    <div class = "row">
       <div class="loginPanel">
            
            <div class = "panel panel-primary">
                <div class = "panel-heading">
                     <h3 class = "panel-title">Giriş Yap</h3>
                    
                    
                </div>

                <div class = "panel-body">

                    <form action="/login" method="POST" >

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="username" type="text" class="form-control" name="username" placeholder="kullanıcı adı" required>
                        </div>

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="password" type="text" class="form-control" name="password" placeholder="parola" required>
                            
                        </div>
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary">Giriş</button>
                        </div>
                    </form>
                                        
                </div>

                <div class="panel-footer clearfix">
                    
                     <%if(typeof username!='undefined')
                         {%>
                         <h3><%=username%></h3>
                         <%}%>
                         <%if(typeof password!='undefined')
                         {%>
                         <h3><%=password%></h3>
                         <%}%>  
                                 
                </div>

            </div>

       </div>

    </div>

</div>
-->

