<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Day 001 Login Form</title>

    <link rel='stylesheet prefetch' href="/public/libs/font-awesome/css/googleapiLogin.css">

    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:600'>

    <link rel="stylesheet" href="/public/resources/css/LoginStyle.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
<div class="login-wrap" style="float:left;">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">OTURUM AÇ</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">ÜYE OL</label>
        <div class="login-form">
            <div class="sign-in-htm">
                <form action="/" method="post">
                    <div class="group">
                        <label for="email" class="label">E-Posta</label>
                        <input id="email" name ="logemail" type="text" class="input" required>
                    </div>
                    <div class="group">
                        <label for="password" class="label">Parola</label>
                        <input id="password" name="logpassword" type="password" class="input" data-type="password" required>
                    </div>
                    <div class="group">
                        <input id="check" type="checkbox" class="check" checked>
                        <label for="check"><span class="icon"></span> Beni Hatırla</label>
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="OTURUM AÇ">
                    </div>
                </form>    
                <div class="hr"></div>
                <div class="foot-lnk">
                    <a href="#forgot">Parolamı Unuttum?</a>
                </div>
            </div>
            <div class="sign-up-htm">
                <form action="/" method="post">
                    <div class="group">
                        <label for="email" class="label">E-Posta</label>
                        <input id="email"  name ="email" type="text" class="input" required>
                    </div>
                    <div class="group">
                        <label for="userName" class="label">Kullanıcı Adı</label>
                        <input id="userName" name="userName" type="text" class="input" required>
                    </div>
                        <div class="group">
                        <label for="password" class="label">Parola</label>
                        <input id="password" type="password" name="password" class="input" data-type="password" required>
                    </div>
                    <div class="group">
                        <label for="passwordConf" class="label">Parola Tekrar</label>
                        <input id="passwordConf"  type="password"  name="passwordConf" class="input"  data-type="password" required>
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="ÜYE OL">
                    </div>
                </form>
                <div class="hr"></div>
                <div class="foot-lnk">
                    <label for="tab-1">Zaten Üyeyim?</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="RandomChat">
		<a href="/chat/random"><button class="button" style="vertical-align:middle;"><span>Random Chat! </span></button></a>
</div>

<script>
	var n = 0;
	setInterval(function(){ 
		myFunction(n);
		$('.RandomChat').css('transition', 'background-image 1.5s ease');
		n++;
		if(n>3)
		{
			n = 0;
		}
	}, 3000);
	
	function myFunction(n) {
		if(n == 0)
		{
			$('.RandomChat').css('background-image', 'url("public/resources/img/maxresdefault.jpg")');
		}
		if(n == 1)
		{
			$('.RandomChat').css('background-image', 'url("public/resources/img/chat1.png")');
		}
		if(n == 2)
		{
			$('.RandomChat').css('background-image', 'url("public/resources/img/asdf.png")');
		}
		if(n == 3)
		{
			$('.RandomChat').css('background-image', 'url("public/resources/img/qwert.png")');
		}
	}
</script>
</body>
</html>
