<style>
    body{
        background-image: url("public/resources/img/5rVml.png");
    }

    .btn:hover
    {
        background-color: #183552;
        color: #183552;
    }
    
</style>
<link rel="stylesheet" type="text/css" href="public/resources/css/custom.css">



<nav class=" navbar navbar-expand-lg navbar-menu justify-content-between" style=" background-color:#183552;">
    <div style="display: flex;">
        <a class="navbar-brand " href="#">
            <span class="far fa-comments"></span>
            <strong> BES CHAT</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    </div>
    <div style="width:20%;">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Anasayfa
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Mesajlar</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Ayarlar
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Hesap Ayarları</a>
                    <a class="dropdown-item" href="#">Çıkış Yap</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="container main-section" style="margin-left: 0px;">
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12 left-sidebar" id="friendList">
            <div class="input-group searchbox">
                <input class="form-control mr-sm-2" style="background-color:#fff; border-radius: 0px;" placeholder="Search" name="srch-term" id="srch-term" type="text">
                <div class="input-group-btn">
                    <button class="btn btn-outline-success my-2 my-sm-0" style="border-radius: 0px; border-color: #fff; color: #fff;" type="submit">Search</button>
                </div>
            </div>
            <div class="left-chat" style="height:512px;">
                <ul>
                    <a href="#" onclick="$('#friendList').css('display','none'); $('#openFriendList').css('display','')">
                    <li>
                        <div class="chat-left-img">
                            <img src="public/resources/img/avatar/businessman.png">
                        </div>
                        <div class="chat-left-detail">
                            <p>luis yankee</p>
                            <span>
                                <i class="fa fa-circle" aria-hidden="true"></i> online</span>
                        </div>
                    </li>
                </a>
                    <li>
                        <div class="chat-left-img">
                            <img src="public/resources/img/avatar/index.jpg">
                        </div>
                        <div class="chat-left-detail">
                            <p>joi chak</p>
                            <span>
                                <i class="fa fa-circle" aria-hidden="true"></i> online</span>
                        </div>
                    </li>
                    <li>
                        <div class="chat-left-img">
                            <img src="public/resources/img/avatar/1499345224_female1.png">
                        </div>
                        <div class="chat-left-detail">
                            <p>lajy ion</p>
                            <span>
                                <i class="fa fa-circle orange" aria-hidden="true"></i> offline</span>
                        </div>
                    </li>
                    <li>
                        <div class="chat-left-img">
                            <img src="public/resources/img/avatar/man.png">
                        </div>
                        <div class="chat-left-detail">
                            <p>lod kine</p>
                            <span>
                                <i class="fa fa-circle" aria-hidden="true"></i> online</span>
                        </div>
                    </li>
                    <li>
                        <div class="chat-left-img">
                            <img src="public/resources/img/avatar/1499344631_malecostume.png">
                        </div>
                        <div class="chat-left-detail">
                            <p>nik minaj</p>
                            <span>
                                <i class="fa fa-circle orange" aria-hidden="true"></i> offline</span>
                        </div>
                    </li>
                    <li>
                        <div class="chat-left-img">
                            <img src="public/resources/img/avatar/1499345471_boy.png">
                        </div>
                        <div class="chat-left-detail">
                            <p>Win sina</p>
                            <span>
                                <i class="fa fa-circle" aria-hidden="true"></i> online</span>
                        </div>
                    </li>
                    <li>
                        <div class="chat-left-img">
                            <img src="public/resources/img/avatar/index.jpg">
                        </div>
                        <div class="chat-left-detail">
                            <p>joi chak</p>
                            <span>
                                <i class="fa fa-circle" aria-hidden="true"></i> online</span>
                        </div>
                    </li>
                    <li>
                        <div class="chat-left-img">
                            <img src="public/resources/img/avatar/1499345224_female1.png">
                        </div>
                        <div class="chat-left-detail">
                            <p>lajy ion</p>
                            <span>
                                <i class="fa fa-circle orange" aria-hidden="true"></i> offline</span>
                        </div>
                    </li>
                    <li>
                        <div class="chat-left-img">
                            <img src="public/resources/img/avatar/man.png">
                        </div>
                        <div class="chat-left-detail">
                            <p>lod kine</p>
                            <span>
                                <i class="fa fa-circle" aria-hidden="true"></i> online</span>
                        </div>
                    </li>
                    <li>
                        <div class="chat-left-img">
                            <img src="public/resources/img/avatar/1499344631_malecostume.png">
                        </div>
                        <div class="chat-left-detail">
                            <p>nik minaj</p>
                            <span>
                                <i class="fa fa-circle orange" aria-hidden="true"></i> offline</span>
                        </div>
                    </li>
                    <li>
                        <div class="chat-left-img">
                            <img src="public/resources/img/avatar/1499345471_boy.png">
                        </div>
                        <div class="chat-left-detail">
                            <p>Win sina</p>
                            <span>
                                <i class="fa fa-circle" aria-hidden="true"></i> online</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
    </div>
</div>
<div class="col-md-12" style="display: none;" id="openFriendList" onclick="$('#friendList').css('display',''); $('#openFriendList').css('display','none')">
        <div class="col-md-6" style="float: left; margin-right: 100px;">
            <div class="row">
                <div class="col-md-12 right-header" style="height: 94px;">
                    <div class="right-header-img">
                        <img src="public/resources/img/avatar/businessman.png">
                    </div>
                    <div class="right-header-detail">
                        <p>Jack Clerk</p>
                        <span>already 19 messages </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 right-header-contentChat" style="height: 434px;">
                    <ul>
                        <li>
                            <div class="rightside-left-chat">
                                <span>
                                    <i class="fa fa-circle" aria-hidden="true"></i> joi chak
                                    <small>10:00 AM,Today</small>
                                </span>
                                <br>
                                <br>
                                <p>Lorem ipsum dolor sit ameeserunt mollit anim id est laborum. Lorem ipsum dolor sit ameeserunt
                                    mollit anim mollit anim laborum. Lorem ipsum dolor sit ameeserunt mollit anim id est
                                    laborum.</p>
                            </div>
                        </li>
                        <li>
                            <div class="rightside-right-chat">
                                <span>
                                    <small>10:00 AM,Today</small> nik minaj
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                </span>
                                <br>
                                <br>
                                <p>Lorem ipsum dolor sit ameeserunt mollit anim id est laborum. Lorem ipsum dolor sit ameeserunt
                                    mollit anim id est laborum.</p>
                            </div>
                        </li>
                        <li>
                            <div class="rightside-left-chat">
                                <span>
                                    <i class="fa fa-circle" aria-hidden="true"></i> joi chak
                                    <small>10:00 AM,Today</small>
                                </span>
                                <br>
                                <br>
                                <p>Lorem ipsum dolor sit ameeserunt mollit anim id est laborum. Lorem ipsum dolor sit ameeserunt
                                    mollit anim mollit anim laborum. Lorem ipsum dolor sit ameeserunt mollit anim id est
                                    laborum.</p>
                            </div>
                        </li>
                        <li>
                            <div class="rightside-right-chat">
                                <span>
                                    <small>10:00 AM,Today</small> nik minaj
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                </span>
                                <br>
                                <br>
                                <p>Lorem ipsum dolor sit ameeserunt mollit anim id est laborum. Lorem ipsum dolor sit ameeserunt
                                    mollit anim id est laborum.</p>
                            </div>
                        </li>
                        <li>
                            <div class="rightside-left-chat">
                                <span>
                                    <i class="fa fa-circle" aria-hidden="true"></i> joi chak
                                    <small>10:00 AM,Today</small>
                                </span>
                                <br>
                                <br>
                                <p>Lorem ipsum dolor sit ameeserunt mollit anim id est laborum. Lorem ipsum dolor sit ameeserunt
                                    mollit anim mollit anim laborum. Lorem ipsum dolor sit ameeserunt mollit anim id est
                                    laborum.</p>
                            </div>
                        </li>
                        <li>
                            <div class="rightside-right-chat">
                                <span>
                                    <small>10:00 AM,Today</small> nik minaj
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                </span>
                                <br>
                                <br>
                                <p>Lorem ipsum dolor sit ameeserunt mollit anim id est laborum. Lorem ipsum dolor sit ameeserunt
                                    mollit anim id est laborum.</p>
                            </div>
                        </li>
                        <li>
                            <div class="rightside-left-chat">
                                <span>
                                    <i class="fa fa-circle" aria-hidden="true"></i> joi chak
                                    <small>10:00 AM,Today</small>
                                </span>
                                <br>
                                <br>
                                <p>Lorem ipsum dolor sit ameeserunt mollit anim id est laborum. Lorem ipsum dolor sit ameeserunt
                                    mollit anim mollit anim laborum. Lorem ipsum dolor sit ameeserunt mollit anim id est
                                    laborum.</p>
                            </div>
                        </li>
                        <li>
                            <div class="rightside-right-chat">
                                <span>
                                    <small>10:00 AM,Today</small> nik minaj
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                </span>
                                <br>
                                <br>
                                <p>Lorem ipsum dolor sit ameeserunt mollit anim id est laborum. Lorem ipsum dolor sit ameeserunt
                                    mollit anim id est laborum.</p>
                            </div>
                        </li>
                        <li>
                            <div class="rightside-left-chat">
                                <span>
                                    <i class="fa fa-circle" aria-hidden="true"></i> joi chak
                                    <small>10:00 AM,Today</small>
                                </span>
                                <br>
                                <br>
                                <p>Lorem ipsum dolor sit ameeserunt mollit anim id est laborum. Lorem ipsum dolor sit ameeserunt
                                    mollit anim mollit anim laborum. Lorem ipsum dolor sit ameeserunt mollit anim id est
                                    laborum.</p>
                            </div>
                        </li>
                        <li>
                            <div class="rightside-right-chat">
                                <span>
                                    <small>10:00 AM,Today</small> nik minaj
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                </span>
                                <br>
                                <br>
                                <p>Lorem ipsum dolor sit ameeserunt mollit anim id est laborum. Lorem ipsum dolor sit ameeserunt
                                    mollit anim id est laborum.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 right-chat-textbox">
                    <input type="text">
                    <a href="#">
                        <i class="fa fa-arrow-right fa-2x " style="padding-left:5px;padding-top:7px;" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
        <div class="row">
            <div id="video_container" style="text-align: center;">
                    <video poster="/public/resources/img/cam.png" style="width: 500px" id="selfVideo"> </video>
                    <video poster="/public/resources/img/cam.png" style="width: 200px" id="partnerVideo"> </video>
            </div>
        </div>
        </div>

<script type="text/javascript">
    $(document).ready(function () {
        var height = $(window).height();
        $('.left-chat').css('height', (height - 92) + 'px');
        $('.right-header-contentChat').css('height', (height - 163) + 'px');
    });
</script>