	<div class="container">
	<div class="row" style="margin-bottom:20px;">
		</div>
		<div class="row">
			<div class="col-md-3" >
				<div>
				  <div id="video_container">
				  <div class="embed-responsive embed-responsive-1by1">
				  		<video   poster="/public/resources/img/cam.png" id="selfVideo"> </video>
					</div>

				<div class="embed-responsive embed-responsive-1by1">
				  <video  poster="/public/resources/img/cam.png" id="partnerVideo"> </video> 
				 </div>
				  </div>
				</div>
				
				<br/>
				 <div id="button_container" >
							
				<div class="btn-toolbar" role="toolbar">
  				<div class="btn-group mr-1" role="group" >
				<a class="btn btn-block btn-success" style="color: #fff;"  id="next_btn" title="Get a Random Stranger">
							 <i class="fa fa-forward fa-3x"></i>
							 <span class="shortcut">Next</span>
							</a>
							<a class="btn btn-block btn-danger" style="color: #fff;"  id="stop_btn" title="Stop The Chat">
							 <i class="fa fa-stop fa-3x"></i>
							 <span class="shortcut">Stop</span>
							</a>
							<a class="btn btn-block btn-warning" style="color: #fff;"  id="clear_btn" title="Clear Chatbox">
							 <i class="fa fa-eraser fa-3x"></i>
							 <span class="shortcut">Clear</span>
							</a>
  				</div>
				  </div>
				</div>
			</div>

			<div class="col-md-9">
				<div id="messages_container" class="myBox" style="padding:15px; border: 1px solid #4d94ff; background-color: #FFF; height:400px; margin-bottom:5px;">

		     		</div>
				<div>
					<textarea id="message" rows="3" name="message" style="float: left; width:86%; margin-right: 5px;"></textarea>
					<button id="send_btn" class="button button1">Send</button>
				</div>
			</div>
		</div>
	</div>
  
    <script src="/socket.io/socket.io.js"></script>
    <script src="/easyrtc/easyrtc.js"></script>
    <script src="/public/resources/js/app.js"></script>
