    <h2> <%= mesaj %> </h2>
    <ul> 
    <% for(var i=0; i<dizi.length;i++){%>
        <li><%=dizi[i]%></li> 
    <%}%>
    </ul>
        <div id="div-chat" class="container">
            <div class ="row" >
                <div class = "col-sm-5 DenemeBuyuk">
                    
                    <!--<ul id="ulUser">
                    </ul>
                    <h3 id="my-peer">Your Id: </h3>-->
                    <video id="localStream" width="400" controls></video>
                    <!--<br /><br />-->
                </div>
                <div class = "col-sm-5 DenemeBuyuk">
                    <video id="remoteStream" width="400" controls></video>
                </div>
                    <!--<br /><br />
                    <input type="text" id="remoteId" placeholder="Remote ID">
                    <button id="btnCall">Call</button>
                    -->
                
                    <!--<div id="div-dang-ky">
                   
                        <br /><br />
                        <input type="text" id="txtUsername" placeholder="Enter your username">
                        <button id="btnSignUp">Sign Up</button>
                
                    </div>-->
                
            </div>
        </div>
    